.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
  color: #333;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.nav-item .nav-link {
  padding-left: 1.5rem;
}

.navbar-collapse {
  max-height: 80vh;
  overflow-y: auto;
}

.footer {
  height: 12vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  vertical-align: center;
}

.card-body {
  border-bottom: 0px solid #eee;
}

.navbar-brand {
  font-weight: bold;
  font-family: "articulat-cf", Arial, Helvetica, sans-serif;
}

.someClass {
  font-weight: bold;
  background-color: #ffeb3b;
  /* Jaune clair pour surlignage */
  padding: 2px 4px;
  border-radius: 3px;
  cursor: pointer;
  /* Indique que le span est cliquable */
}

.someClass:hover {
  background-color: #ffd700;
  /* Jaune plus foncé au survol */
}

.chapterA {
  font-weight: bold;
  font-family: "articulat-cf", Arial, Helvetica, sans-serif;
}

.chapterB {
  font-weight: bold;
  font-family: "articulat-cf", Arial, Helvetica, sans-serif;
}

.header-navbar-brand {
  font-family: "articulat-cf", Arial, Helvetica, sans-serif;
  color: #007bff;
}

.main-text {
  font-family: "artifex-cf", Georgia, 'Times New Roman', Times, serif;
}

.main-text-B {
  font-family: "artifex-cf", Georgia, 'Times New Roman', Times, serif;
  color: #222222;
  opacity: .9;
}

.main-text, .main-text-B {
  cursor: pointer; /* Indique que le paragraphe est cliquable */
  transition: background-color 0.3s;
}
.main-text:hover {
  background-color: #fff3cd; /* Jaune pâle au survol */
}
.main-text-B:hover {
  background-color: #cff4fc; /* Bleu pâle au survol */
}
.selected {
  background-color: #ffeeba !important; /* Surlignage pour le paragraphe sélectionné */
  border-color: #ffca2c !important;
}